<a href="/" title="Inicio" aria-label="Ir a la página de inicio">
  <picture>
    <source media="(max-width:799px)" srcset="../../img/logo-80x80.webp">
    <source media="(min-width:800px)" srcset="../../img/logo-200x47.webp">
    <img src="../../img/logo-200x47.webp" alt="Logo de la página que redirecciona a la página de inicio.">
  </picture>
</a>


<nav>
  <a href="/">Inicio</a>
  <a href="../../sobre-mi.html">Sobre mí</a>
  <a href="../../hobbies/index.html">Hobbies</a>
</nav>


<section aria-label="Buscador y botón de contactar">
  <i class="fa-solid fa-search" aria-label="Botón para abrir buscador"></i> 
  <a href="../../sobre-mi.html#contacto" title="Enviar un correo">
      <i class="fa-solid fa-paper-plane"></i> <span>Contactar</span>
  </a>
</section> 

<script>
  // Puedes definir lógica específica del encabezado aquí si es necesario
</script>